#footer-contact{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #F4F5F8;
    padding: 20px 0;
}
#footer-contact .container{
    width: 90%;
    display: flex;
    justify-content: center;
}
#footer-contact .container p{
    font-size: 15px;
    font-weight: 200;
}

.bold-text{
    font-weight: 800;
}