header {
    font-weight: 700;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $bck-color;
    position: fixed;
    z-index: 999;
    border-bottom: 1px solid $dark-color-low-opacity;
    *{
        color: $header-text-color;
    }

    .container {
        width: 90%;
        display: flex;
        justify-content: space-between;

        .header-logo {
            width: 15%;
            display: flex;
            align-items: center;

            img {
                max-width: 100px;
            }
        }

        .header-nav {
            width: 450px;

            ul {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-content: center;
            }
        }

        .find-and-appeal {
            width: 20%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;

            .find {
                cursor: pointer;
                i{
                    font-size: 17px;
                }
            }
        }

        .contact-and-nav-icon{
            display: none;
        }
    }
}

.appeal-btn {
    font-size: 14px;
    font-weight: 700;
    padding: 15px 40px;
    background-color: $btn-bck-color;
    border: none;
    height: 100%;
    
    &:hover {
        cursor: pointer;
    }
}

.header-nav ul a{
    position: relative;
    font-size: 14px;
}

.bottom-hovered-after{
    position: absolute;
    content: "";
    bottom: -10px;
    left: 0;
    width: 0px;
    height: 3px;
    background-color: $btn-bck-color;
}

.bottom-hovered:hover .bottom-hovered-after{
    transition: all 0.4s;
    width: 99%;
}


@media screen and (max-width: 991px) {
    header .container {
        width: 90%;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;

        .header-logo {
            width: 22%;
    
            img {
                max-width: 140px;
            }
        }

        .header-nav {
            display: none;
        }
    }

    

    

    .find-and-appeal {
        display: none;
    }

    .contact-and-nav-icon {
        width: 220px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .contact-element:hover {
        cursor: pointer;
    }

    .header-icons:hover {
        cursor: pointer;
    }

    .header-icons i {
        font-size: 30px;
    }
}