#intro {
    width: 100%;
    display: flex;
    justify-content: center;
}

#intro .container {
    width: 90%;
    display: flex;
    justify-content: center;
}

.intro-slide {
    width: 100%;
    position: relative;
}

.intro-slide img {
    width: 100%;
}

.slide-arrow {
    position: absolute;
    color: #FFF;
    z-index: 2;
    top: 47%;
    font-size: 22px;
    opacity: 0.70;
}

.slide-arrow:hover {
    cursor: pointer;
}

.slide-before {
    left: 15px;
}

.slide-after {
    right: 15px;
}


@media screen and (max-width: 991px) {
    .slide-arrow {
        font-size: 18px;
    }
}